<li id='<%= feed_item.id %>'>
  <%= link_to gravatar_for(feed_item.user), feed_item.user %>
  <span class='user'>
    <%= link_to feed_item.user.name, feed_item.user %>
  </span>
  <span class='content'><%= feed_item.content %></span>
  <span class='timestamp'>
    Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
  </span>
  <% if current_user?(feed_item.user) or is_admin? %>
      <%= link_to 'delete', feed_item, method: :delete,
                  data: { confirm: 'You sure?' },
                  title: feed_item.content %>
  <% end %>
  <%=  %>
  <span class='timestamp'>Likes: <%= feed_item.likes_count  %></span>
  <span class='timestamp'>Average rate: <%= feed_item.rate.to_i %></span>

  <% if feed_item.has_liked? %>
      <%= form_for(current_user.likes.find_by(micropost_id: feed_item.id),
                   html: { method: :delete }) do |f| %>
      <!---->

          <%= f.submit 'UnLike', class: 'btn btn-small btn-primary' %>
      <% end %>


  <% else %>

      <%= form_for(current_user.likes.build(micropost_id: feed_item.id)) do |f| %>
          <%= f.hidden_field :micropost_id %>

          <%= f.select :hinne, options_for_select([['1'], ['2'], ['3'], ['4'], ['5']]) %>
          <%= f.submit 'Like', class: 'btn btn-small btn-primary' %>
      <% end %>
  <% end %>



</li>